<div class="empty-cart-message" *ngIf="items.length == 0">
  Your Shopping Cart is Empty 😔
</div>
<div *ngIf="items.length > 0" class="cart-container">
  <div class="cart-panel" *ngFor="let item of items">
    <div class="cart-item">
      <img src="{{ item.product.url }}" alt="" />
      <div class="cart-item-details">
        <h5>{{ item.product.name }}</h5>
        <p>$ {{ item.product.price }}</p>
        <label for="amount">Amount: </label>
        <input
          type="number"
          [(ngModel)]="item.quantity"
          (ngModelChange)="update()"
          class="number-input"
          min="1"
        />
        <button class="btn btn-danger" (click)="removeItemFromCart(item)">
          Remove
        </button>
      </div>
    </div>
  </div>
  <p>
    <b>Total: $ {{ orderTotal.toString() }}</b>
  </p>
</div>
<form #form="ngForm" *ngIf="items.length > 0" (ngSubmit)="submit()">
  <div class="input-container">
    <label for="customerNameInput"><b>Name</b></label>
    <input
      type="text"
      class="form-margin"
      id="customerNameInput"
      required
      [(ngModel)]="customerName"
      name="customerNameInput"
      minlength="6"
      placeholder="Min. 6 characters"
      #customerNameInput="ngModel"
    /><br />
    <div
      id="CustomerNameError"
      *ngIf="customerNameInput.invalid && customerNameInput.dirty"
    >
      <p *ngIf="customerNameInput.errors?.['required']">
        Your Full name is required.
      </p>
      <p *ngIf="customerNameInput.errors?.['minlength']">Name is too short.</p>
    </div>
    <label for="addressInput"><b>Address</b></label>
    <input
      type="text"
      class="form-margin"
      id="addressInput"
      required
      [(ngModel)]="address"
      name="addressInput"
      minlength="20"
      placeholder="Min. 20 characters"
      #addressInput="ngModel"
    /><br />
    <div id="addressError" *ngIf="addressInput.invalid && addressInput.dirty">
      <p class="text-danger" *ngIf="addressInput.errors?.['required']">
        Your Address is required.
      </p>
      <p class="text-danger" *ngIf="addressInput.errors?.['minlength']">
        Address is too short.
      </p>
    </div>
    <label for="creditCardNumberInput"><b>Credit card Number</b></label>
    <input
      type="text"
      class="form-margin"
      id="creditCardNumberInput"
      placeholder="(16 digit number)"
      [(ngModel)]="creditCardNumber"
      required
      name="creditCardNumberInput"
      pattern="[0-9]{16}"
      title="Please enter a 16-digit Number"
    /><br />
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">
      Submit
    </button>
  </div>
</form>
